{{page-title "Login"}}

<div class="login-model">

  <label for="login">
    e-mail
  </label>
  <input id="login" type="text" class="login">
  <input type="password" class="password">
  <button class="submit-button">Entrar</button>
</div>
