
<div class="products">

  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <ProductList::filtro
          @filters={{this.filters}}
          @activeFilter={{this.activeFilter}}
        />
      </div>

      <div class="col-md-12">
        <ProductList::list
          @list={{this.list}}
        />
      </div>

      <div class="col-md-12">
        <ProductList::paginacao/>
      </div>

    </div>
  </div>
</div>