<!-- Header -->
<header class="">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#">
        <h2>Tom<em>4</em>te</h2>
      </a>
      {{!-- <img src="img/icone.png" alt="Icone tom4te" class="navbar-icon"> --}}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          {{#each activeMenu as |item| }}
            
            <li class={{concat "nav-item " (if item.active "active" "")}}>
              <LinkTo  @route={{item.route}} @class="nav-link" >
                
                {{item.title}}

                {{#if item.active}}
                  <span class="sr-only">(current)</span>
                {{/if}}
                
              </LinkTo>
            </li>  
            
          {{/each}}

        </ul>
      </div>
    </div>
  </nav>
</header>